:root{
    /* color palette from palettes.shecodes.io/palettes/1313 */
    --bgcolor :#314154;
    --bgcolorsecond:#698bb4;
    --search: #9fd3c7;
    --history: #ececec;
}

header{
    background-color: var(--bgcolor);
    color:var(--history)
}
.button-search{
    background-color:var(--search);
    color: var(--history);
    
}
.button-history{
    background-color: var(--history);
}
#current-day{
    visibility: hidden;
}
#search-history {
    visibility: hidden;
}

#WeekDays{
    visibility: hidden;
}
